@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display:grid;
  place-items:center;
  }
.floating-action-button {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: auto;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

form * {
  margin-bottom: 10px;
}

List {
  width: 100%;
}